/* test code */
/* body {
  background: #333;
}
.eye {
  position: absolute;
    top:50%;
    left: 50%;
  width: 200px;
  height: 200px;
  background: white;
  transform: translate(-50%, -50%) rotate(45deg);
  border-radius: 75% 0;
  overflow: hidden;
  cursor: pointer;
	border: black 2px solid;
}

.ball {
  width: 70px;
  height: 70px;
  background: white;
  border-radius: 50%;
  border: 2px solid black;
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
}




/*  */

/* Layout */

.logo {
	background: url(../assets/Monkeylogo.png);
	background-size: cover;
	width: 80px;
	height: 80px;
	position: absolute;
	top: 30px;
	left: 30px;
	border-radius: 50px;
}

/* Hero section */

.hero-section {
	display: flex;
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
}

.jar-img {
	margin-top: 60px;
	margin-left: 80px;
	background: url('assets/Krita-Jars.png');
	background-size: contain;
	background-repeat: no-repeat;
	height: auto;
  width: 50vw
}

.greeting-text {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	width: 100%;
	margin-right: 80px;
}

.greeting-text > h1 {
padding-bottom: 20px;
font-size: 65px;
font-family: monospace;
}

.greeting-text > p {
font-size: 30px;
font-family: monospace;
}

/* Line Section */

.line-container {
	width: 100vw;
	height: 100vh;
	text-align: center;
	overflow: hidden;
}

svg {
	display: inline-block;
	height: 100%;
}

/* Section Two */

.section-two {
  height: 100vh;
  width: 100vw;
}

.glow-orb-container {
	width: 100vw;
	height: 100vh;
  display: flex;
  justify-content: center;
	align-items: center;
}

.glow-orb-image {
	width: 70%;
	height: 70%;
	filter: brightness(1.2);
	transition: 0.3s;
}

.glow-orb-image:hover {
	filter: brightness(1.4);
	cursor: pointer;  
	
}

.glow-image-bg {
	background: url('assets/glow-orb-forest.png');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	width: 50%;
	height: auto;
	margin-top: 30px;
	display: flex;
	justify-content: center;
  align-items: center;
}

.work-atag {
	text-align: center;

}

/* Media Queries for Hero */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 768px) {
	.hero-section {
		display: flex;
		flex-direction: column-reverse;
		justify-content: space-evenly;		
		align-content: center;
	}
	
	.greeting-text {
		margin-top: 60px;
		text-align: center;
		align-items: center;
		/* padding-left: 20px;
		padding-right: 20px; */

	}

	.jar-container {
		display: flex;
		justify-content: center;
		/* margin-bottom: -160px; */
	}

	.jar-img {
		margin: 0;
		width: 100vw;
		height: auto;
	}
	/* Line Section */

	.line-container {
		/* width: 50%; */
		/* display: none; */
	}

	/* Work Section */

	.section-two {
		height: fit-content;
	}

	.glow-orb-container {
		height: fit-content;
	}

	.glow-orb-image {
		margin-top: 50px;
		margin-bottom: 150px;
		width: 100%;
		height: 100%;
	}

	* {
		
		/* background-color: orangered; */
	}
}
/* Small devices (portrait tablets and large phones, 600px and up)
@media only screen and (min-width: 600px) {
	* {
		background-color: orangered;
	} */

/* } */
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
	* {
		/* background-color: yellow; */
	}

}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
	* {
		/* background-color: greenyellow; */
	}

}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
	* {
		/* background-color: aqua; */
	}

}

/* Global Style */

a {
	color: black;
	text-decoration: underline;
}

a:hover   {
	color: rgb(56, 8, 56);
	
	cursor:pointer;  
}

a:visited {
	color: black;

}




html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*  <section class="section-two">
    <div class="glow-orb-container">
      <!-- <img class="glow-orb-image" src="glow-orb-forest.png" alt=""> -->
      <div class="glow-image-bg">
        <p class="workText">work</p>
      </div>
    </div>
  </section> */